// Spaces
$base-spacing-unit: 10px;

// Border radius
$global-radius: 16px;

// Transition
$global-transition: all .35s;

// Syntax highlighing
$monospace: Monaco, Consolas, "Lucida Console", monospace !default;
$type-size: 0.75em !default;
$border-radius: 16px !default;

@font-face {
  font-family: 'Futura Md BT';  
  src: url("../fonts/futura medium bt.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
